<html>
    <head>
        <title>새로 시작하는 인생</title>
    </head>
    <body>
        <div>
            <h1><a href="">파이썬으로 하는 웹서버 개발</a></h1>
        </div>

        <div>
            <p>published: 17.07.2017, 12:14</p>
            <h2><a href="">나는 나로 살기로 했다</a></h2>
            <p>우리는 모두 슈퍼 히어로를 꿈꿨다. 그리고 지금은 세상이 아니라<br>나를 구하는 것이 먼저인 어른이 되었다.<br>애매한 나이, 애매한 경력, 애매한 실력, 애매한 어른으로 자란 우리는 모두<br>어른을 연기하며 살고 있는 것은 아닐까?</p>
        </div>

        <div>
            <p>published: 17.07.2017, 12:14</p>
            <h2><a href="">당신은 사랑받기 위해 태아난 사람</a></h2>
            <p>당신은 사랑받기 위해 태어난 사람<br>당신의 삶 속에서 그 사랑받고 있지요<br>당신은 사랑받기 위해 태어난 사람<br>당신의 삶 속에서 그 사랑받고 있지요</p>
        </div>
    </body>
</html>