<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Link the World</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="bottom">
        <h2>나는 나로 살기로 했다</h2>
        <p>우리는 모두 슈퍼 히어로를 꿈꿨다. 그리고 지금은 세상이 아니라<br>나를 구하는 것이 먼저인 어른이 되었다.<br>애매한 나이, 애매한 경력, 애매한 실력, 애매한 어른으로 자란 우리는 모두<br>어른을 연기하며 살고 있는 것은 아닐까?</p>
    </div>

    <hr color="red" style="5" noshade>

    <div class="top">
        <a href="/search">DBPIA 문헌정보 검색하기</a><br>
        <a href="/map">vworld 지도보기</a><br>
    </div>

    <hr color="red" style="5" noshade>

    <div class="exer">
        <a href="/">NetMiner 브릿징</a><br>
    </div>

    <hr color="red" style="5" noshade>

    <div class="bootstrap">
        <a href="starter_template">starter-template</a><br>
        <a href="carousel">carousel</a><br>
        <a href="cover">cover</a><br>
        <a href="dashboard">Dashboard</a><br>
        <a href="theme">theme</a><br>
        <a href="signin">signin</a><br>
        <a href="blog">blog</a><br>
        <a href="grid">grid</a><br>
        <a href="jumbotron">jumbotron</a><br>
        <a href="jumbotron_narrow">jumbotron-narrow</a><br>
        <a href="justified_nav">justified-nav</a><br>
        <a href="navbar">nav-bar</a><br>
        <a href="navbar_fixed_top">navbar-fixed-top</a><br>
        <a href="navbar_static_top">navbar-static-top</a><br>
        <a href="non_responsive">non-responsive</a><br>
        <a href="offcanvas">offcanvas</a><br>
        <a href="sticky_footer">sticky-footer</a><br>
        <a href="sticky_footer_navbar">sticky-footer-navbar</a><br>
        <a href="tooltip_viewport">tooltip-viewport</a><br>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>